* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    min-height: 100vh;
    background-image: url(blob-scene-haikei.svg);
    background-size: cover;
}

nav {
    padding: 0 2rem;
    width: inherit;
    height: 5rem;
    /* background: #000; */
}

.nav-list {
    display: flex;
    height: inherit;
    align-items: center;
    /* gap: 1.5rem; */
}

.link {
    display: inline-block;
    padding: 0.8rem 2.2rem;
    color: rgba(41, 11, 88, 0.669);
    font-weight: 500;
    border-radius: 5px;
    transition: .2s;
}
.link:hover{
    color: white;
    background: rgb(243, 49, 101);
}
.active {
    color: white;
    background: rgb(243, 49, 101);
}

.header-container {
    width: 100%;
    min-height: calc(100% - 5rem);
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.h-left {
    height: 38rem;
    mix-blend-mode: darken;
}

.h-right {
    /* height: 100%; */
    width: 40rem;
}

.h-right h1 {
    font-size: 2.6rem;
    line-height: 3.5rem;
    font-weight: 900;

    /** TEXT GRADIENT */
    color: #ff5ea1;
    background-image: -webkit-linear-gradient(9deg, #ff5ea1 0%, #ff0000 61%, #ff8f07 83%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;


}
button{
    transition: .2s;
}
button:hover{
    background: rgb(199, 38, 81);
}
.h-right p {
    font-size: 1.1rem;
    color: rgba(41, 11, 88, 0.669);
    margin: 1.4rem 0;
    font-weight: 500;
}

.r-btn {
    width: 18rem;
    height: 3.2rem;
    border-radius: 4px;
    background: rgb(243, 49, 101);
    border: none;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
}
main{
    width: 100%;
    min-height: 100vh;
    /* background-image: url(blob-scene-haikei1.svg);
    background-size: cover; */
}
.m-container1{
    width: 100%;
    min-height: 20rem;
}
.bottom{
    /* height: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.feature1, .feature2, .feature3{
    height: 400px;
}
.box{
    height: 400px;
    width: 350px;
    box-shadow: 3px 3px 10px rgba(104, 104, 104, 0.247);
    margin: 0 40px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    border-bottom: 10px solid #ff5d72;
}
.box:before{
    content: '';
    position: absolute;
    height: inherit;
    width: inherit;
    background: linear-gradient(to bottom,rgba(47, 19, 19, 0.889), rgba(255, 0, 0, 0.67),rgba(255, 255, 2553));
    border-radius: 15px;
    opacity: 0;
    transition: 0.3s;
}
.above{
    padding:30px 10px;
    position: absolute;
    left: 0;
    top: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* opacity: 0; */
    pointer-events: none;
    transition: 0.3s;
}
.person{
    font-size: 25px;
    margin-bottom: 20px;
    /* text-decoration: underline; */
    transform: translateY(200px);
    opacity: 0;
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.article{
    /* margin-top: 20px; */
    font-size: 15px;
    width: 90%;
    /* letter-spacing: 1.1px; */
    font-weight: 500;
    transform: translateY(200px);
    color: white;
    background: rgba(0, 0, 0, 0.323);
    border-radius: 15px;
    padding: 5px;
    opacity: 0;
    transition: 0.3s;
}
.box:hover:before{
    opacity: 1;
}
.box:hover .person{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
}
.box:hover .article{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.7s;
}

.poster1, .poster2, .poster3{
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: contain;
}
.title{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(41, 11, 88, 0.669);
    margin-top: 20px;
    text-align: center;
}
.m-container1 h1{
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    color: #ff4a62;
    /* mix-blend-mode: darken; */
    text-decoration: underline;
}
.ad-feature{
    padding: 3rem 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(stacked-steps-haikei.svg);
    background-size: cover;
    margin-top: 2rem;
}
.ad-feature h1{
    margin-bottom: 2rem;
}
.fet1{
    width: inherit;
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    margin: 3rem 0;
    /* height: 30rem; */
}
.fet-left{
    width: 30rem;
}
.fet-left h2{
    font-size: 1.5rem;
    color: rgba(41, 11, 88, 0.669);
}
.fet-left p{
    margin: 1.2rem 0;
}
.ad-btn{
    width: 16rem;
    height: 2.5rem;
    border-radius: 4px;
    background: rgb(243, 49, 101);
    color: white;
    border: none;
}
.fet-right{
    background: rgba(255, 255, 255, 0.817);
    padding: 1rem;
    border-radius: 4px;
    width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: center;
}
.ad-img{
    width: 26rem;
}
button{
    cursor: pointer;
}
.c-container{
    width: 100%;
    height: 70vh;
    background: white;
}
footer{
    width: 100%;
    padding: 4rem;
    /* background: #0B161A; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.l-footer, .r-footer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 2rem;
    /* margin-left: 1rem; */
}
.l-footer .hding2, .r-footer .hding2{
    margin-left: 0rem;
    /* width: 20rem; */
    padding: 0.5rem 1rem;
    border: 2px solid #7b7b7b;
    position: relative;
    z-index: 2;
}
.l-footer .hding2:before, .r-footer .hding2:before{
    content: '';
    position: absolute;
    width: 90%;
    height: 80%;
    top: -1rem;
    left: -23px;
    padding: 0.5rem 1rem;
    border: 2px solid rgb(255, 162, 162);
    z-index: -4;
}
.f-info{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #000000;
    margin-top: 1.5rem;
}
.f-info p{
    color: rgba(41, 11, 88, 0.669);
    text-shadow: 0.2px 0.2px 6px #ffffff;
    
}
.fi{
    /* color: rgb(0, 0, 0); */
    font-size: 18px;
}
.inputs{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}
input{
    width: 100%;
    height: 2.5rem;
    outline: none;
    border: 1px solid rgb(243, 49, 101);
    border-radius: 4px;
    padding-left: 1.2rem;
}
.name-no{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.message{
    border: 1px solid rgb(243, 49, 101);
    width: 100%;
    height: 8rem;
    border-radius: 4px;
    padding: 1.2rem;
    outline: none;
    resize: none;
}
.message::placeholder,input::placeholder{
    color:rgba(41, 11, 88, 0.669);
}
.name-no input{
    width: calc(100% / 2 - 0.6rem);
}
.fi{
    color: rgba(41, 11, 88, 0.669);
}
.send{
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid rgba(255, 164, 195, 0.712);
    color: rgb(243, 49, 101);
    transition: .2s;
    cursor: pointer;
}
.send:hover{
    /* background: white; */
    background: rgba(255, 131, 152, 0.24);
    color: rgb(243, 49, 101);
    /* text-shadow: 0.2px 0.2px 6px #000000; */
    box-shadow: 0.2px 0.2px 6px #ffffff;

}
.send i{
    margin-top: 0.5rem;
    transition: .2s;
    color: rgb(243, 49, 101);
}
.send:hover .fi-ss-paper-plane{
    color: rgb(243, 49, 101);
}